.App{
	text-align: center;
	background-color: #282c34;
	min-height: 100vh;
	color: white;
	display:flex;
	flex-direction: column;
}

.App-body {
	flex-grow:1;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
}

.App-navbar{
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.App-navbar a{
	color: #fff;
}

.MuiBreadcrumbs-separator{
	color: #fff;
}
